/* google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/* reset and common code */
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    list-style: none;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

section {
    margin-bottom: 150px;
}

img {
    width: 100%;
}

/* header part styles */
header {
    background-image: url(../images/banner/banner.png);
    height: 809px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform: scaleX(-1);
    margin-bottom: 150px;
}

.header-details {
    transform: scaleX(-1);
    padding-top: 12%;
    padding-left: 230px;
}

.header-title {
    font-size: 65px;
    font-weight: 700;
    color: #151414;
    width: 525px;
    margin-bottom: 25px;
}

.header-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    width: 494px;
    margin-bottom: 25px;
}

.header-btn {
    background: #F15B22;
    border-radius: 5px;
    width: 160px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    border: 0;
}

/* previous years styles */
.previous-years {
    display: flex;
    gap: 100px;
    align-items: center;
}

.previous-years-description {
    width: 50%;
}

.previous-years-description-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 25px;
}

.previous-years-description-content {
    color: #444343;
    margin-bottom: 25px;
}

.previous-years-description-list li {
    margin-bottom: 12px;
}

.previous-years-description-list li i{
    color: #16D887;
}
